* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
}

header ul a {
  text-decoration: none;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.section {
  padding: 0 28vw;
}

.intro {
  background-color: #1f2937;
  padding-top: 20px;
  padding-bottom: 100px;
}

#intro-section {
  display: flex;
  gap: 30px;
}

#intro-text {
  width: 50%;
}

#intro-image {
  width: 60%;
  height: 250px;
  object-fit: cover;
}

#hero_main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

#intro-button {
  display: block;
  margin-top: 10px;
  background-color: #3882f6;
  padding: 5px 30px;
  color: #f9faf8;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

/* Info */

.info {
  text-align: center;
  padding-bottom: 100px;
}

#info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 30px 0;
}

.info .secondary-text {
  color: #1f2937be;
}

#gallery {
  display: flex;
  gap: 20px;
}

#gallery img {
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-radius: 10px;
}

.gallery-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

/* Quote */

.quote-section {
  background-color: #e5e7eb;
  padding-top: 50px;
  padding-bottom: 50px;
}

#quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
}

/* Call to action */
.call-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#call-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #3882f6;
  padding: 30px 70px;
  border-radius: 10px;
}

#call-heading {
  font-size: 24px;
  color: #f9faf8;
}

#call-small {
  font-size: 16px;
  color: #f9faf8;
}

#call-button {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  font-weight: 700;
  padding: 3px 25px;
}

footer {
  text-align: center;
  background-color: #1f2937;
  padding: 20px;
}

footer small {
  font-size: 14px;
  color: white;
}
